
// COLORS
$color-primary: #3673b9;
$color-primary-light: #268686;
$color-primary-purple: #b774e4;
$color-primary-dark: #025d88;
$color-background: #505050;

$color-green1: #55c57a;
$color-green2: #7ed56f;

$color-secondary-light: #ffae00;
$color-secondary-dark: #a73f02;

$color-grey-light-1: #eee;
$color-grey-light-2: #fafafa;
$color-grey-light-3: #dedede;
$color-grey-dark: #999;
$color-footer-bg: #333;


$color-white: #ffffff;
$color-black: #000000;


// FONT SIZES
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

 